Add "state" parameter to the OAuth2 Authorization Request

As [RFC6749 section 4.1.1. states](https://tools.ietf.org/html/rfc6749#section-4.1.1):

> state
         RECOMMENDED.  An opaque value used by the client to maintain
         state between the request and callback.  The authorization
         server includes this value when redirecting the user-agent back
         to the client.  The parameter SHOULD be used for preventing
         cross-site request forgery as described in [Section 10.12](https://tools.ietf.org/html/rfc6749#section-10.12).

Currently AndStatus doesn't add the parameter.

Implemented in v.59.01