ActivityPub C2S: Debug assistance

Hi, I'm trying to integrate andStatus with Zap in ActivityPub C2S mode to push that development along. In my initial tests there was a call to /api/v1/apps to do dynamic registration and this created an unuseable record as our previous usage of dynamic registration provided several parameters to "seed" the client record and andStatus didn't appear to provide any. I believe the issue was resolved but the existing record was incomplete and had to be deleted on the server. 

andStatus appeared to keep the information that was returned and re-used it to access the authorize and token endpoints (which used oauth/authorize and oauth/token instead of the paths that we configured in ActivityPub). This isn't ideal since we have existing apps using our configured endpoints; but I was able to re-create the endpoints that andStatus wanted to see (apparently a default from Mastodon or Pleroma) and at least get it to move forward. So far so good. 

The problem now is the re-use of details from the dynamically registered client that failed. Since the client record doesn't exist any more we can't generate a token from it. I'd like to wipe that record from andStatus's memory and repeat the entire oauth and discovery flow from the beginning but can't figure out how and where to clear this stored information. Any information on doing this would be appreciated. I'm currently running andStatus under android studio on Linux. 

Hi @redmatrix,
Glad that you use AndStatus and write to me :-)

Dynamic client keys data is stored in the default  Shared preferences of the app, something like this:

```
<string name="oauth_client_key18-mstdn.io">n5dfdfdsadfdewrwerwer3434dfs</string>
<string name="oauth_client_secret18-mstdn.io">sdsdffQNefefefer45t5terte</string>
```

So you need to delete it in order to initiate re-registration (I will check that re-registration could be done on an error...)

The easiest way to remove that lines from the preferences is to remove them from the application's backup! (see #86). Just don't forget to tick "Backup media files" checkbox.
This is shared_preferences_data.xml file that needs to be edited.

After the backup editing you need to reinstall AndStatus, and Restore data from a backup on the first run.

> which used oauth/authorize and oauth/token instead of the paths that we configured in ActivityPub

Could you clarify here: from where the tokens should be retrieved? I really do want to implement proper ActivityPub support in AndStatus :-)

Please also read around this comment: https://github.com/andstatus/andstatus/issues/499#issuecomment-457854827


Yeah, I closed this after looking at #499 . Thanks for the info on clearing the details. We don't have any of the specific API endpoints that Mastodon and Pleroma do. The endpoint info is published in the actor record, which one would usually need to fetch before attempting to connect the  oauth service (webfinger followed by AP actor fetch in this case). This *should* (but currently doesn't) also provide a location for the dynamic client registration endpoint. We just happened to have one in the correct place from our ancient Pump.io work.

I finally got it working by observing the client details it thought it should be using and re-created a client record with those details. But then it landed on some kind of Pleroma specific 'whoami' endpoint and I finally gave up.   

I'm a bit concerned that I finally managed to connect by creating a new user-id on my test server, but it still used the client details from the original session (which should have only been associated with the original identity). This might indicate a security concern if everybody on a site shares the same oauth client. There was also an error I saw on the oauth server that andStatus didn't provide a 'state' parameter when using the authorize endpoint, which I found a way to ignore but I don't like ignoring important security parameters. Just letting you know.

Then I needed to turn off openid-connect because it seems on our Oauth2 server it either sends tokens or jwts and this appears to be a global setting and not dependent on whether you specifically ask for jwts.  So I'll need to file a bug against that as well, because we've got a few people using openid-connect and I really don't want to run 2 oauth servers per site.   

Anyway I'll keep plugging at this at a low level but my time is limited right now and I completely under-estimated how much work remains -- on both ends of the pipe. 

> The endpoint info is published in the actor record, which one would usually need to fetch before attempting to connect the oauth service (webfinger followed by AP actor fetch in this case). This should (but currently doesn't) also provide a location for the dynamic client registration endpoint. We just happened to have one in the correct place from our ancient Pump.io work.

You are not the first who mentions webfinger in the context of ActivityPub. My opinion is that webfinger is not an ActivityPub way of doing things. Moreover, ActorID doesn't have to be a WebfingerID... Please see this comment and below: https://github.com/andstatus/andstatus/issues/525#issuecomment-748181691

> But then it landed on some kind of Pleroma specific 'whoami' endpoint

No no, 'whoami' is not a Pleroma-invented thing :-) 
Please read on 'whoami' in this comment and my next comment: https://github.com/andstatus/andstatus/issues/499#issuecomment-457942709

It's silly to argue about semantics. I have seen a number of issues and enumerated them. 

You are correct - webfinger isn't required for ActivityPub. I already assumed you were aware of this. But andStatus asks for something specifically "like an email address" - I'm at a different console and don't have the words in front of me. If somebody enters exactly what you ask for, then you'll need to use webfinger. If they provide an https URI you can skip that step and go straight for the actor record. And although this situation is unfortunate, I believe Mastodon won't federate with anybody who doesn't support webfinger, so most ActivityPub projects support it. 

> Then I request "whoami" point and at this step I cannot get JSON

I'm sorry but this endpoint is not defined by ActivityPub/ActivityStreams or in the best practices documentation where OAuth is described and I'm not aware of it from my work on oauth and openid. Where do I find information on what this endpoint is and what it does? The only record I can find of it existing is in Pleroma and being used by andStatus. I also don't see it listed in the Mastodon API reference documentation. Maybe it's buried in there so deep that I can't find it. If I do a web search it appears that everything that comes back with API and 'whoami' has a Pleroma link in it somewhere. So maybe I'm wrong. I'll concede that fact, but this is a platform specific call and not an ActivityPub call and I cannot find it in any spec anywhere. 

Aside: Whilst composing this response I had to look through the Mastodon API documentation to see if 'whoami' was defined there and discovered in the process that it appears andStatus *may* be calling the dynamic registration endpoint incorrectly, which is the reason we had the problem listed in the OP. According to the Mastodon documentation, client_name is required (as well as redirect_uris) and our software had an issue because this wasn't initially provided by andStatus. This matches my recollection of how we used this endpoint with Pump.io so this requirement likely predates the Mastodon API. I am unable to locate the original Pump.io documentation. Be aware that many oauth libraries don't provide dynamic registration at all so having a way to set the client details manually as a fallback option would probably be advisable. 


@redmatrix Actually concrete "whoami" name came to me from Pump.io API. See https://github.com/andstatus/andstatus/blob/master/app/src/main/java/org/andstatus/app/net/social/pumpio/ConnectionPumpio.kt 
```
ApiRoutineEnum.ACCOUNT_VERIFY_CREDENTIALS -> "whoami"
```
This point is called simple "me" in IndieAuth https://indieauth.spec.indieweb.org/#access-token-response

As I wrote in https://github.com/andstatus/andstatus/issues/499#issuecomment-462914616 
"whoami" endpoint is really important to make sure that a User successfully "logged into" his/her own account AND to discover all the User's endpoints.
I looked at https://indieauth.spec.indieweb.org/#authentication - it assumes that a User will type (copy/paste) his profile URL in order to log in. Not very user friendly :-)
Getting the URL from "me" property is good, I like it ( https://indieauth.spec.indieweb.org/#access-token-response )


Regarding currently presented prompt for a User to type their id that looks like an email: this was inherited from Pump.io and actually is used by a Client (AndStatus in this case) to discover the User's authorization endpoint; much like it is described in the IndieAuth spec. By the way IndieAuth also describes a case, when a User types email-like id.

Providing "me" property in the Authorization response serves the same purpose as "whoami" endpoint that Pump.io and Pleroma have now, and contains the same URL.
So if a Client receives "me", call to hardcoded "whoami" endpoint is not needed. And webfinger call isn't needed either.

I'm sorry, but my purpose in filing the original issue (which I closed pending further investigation) was to get assistance in making my application work with ActivityPub C2S. Here is a summary of the issues that arose:

- dynamic registration endpoint is not documented or discoverable. Requires implementation of Mastodon and/or Pump.io API 
- dynamic registration not called with correct required parameters according to those APIs
- dynamic registration is not available in all oauth server implementations. The bshaffer oauth-server is an example. Workarounds (such as manual registration) would be desirable. 
- andStatus unable to forget saved client details once obtained
- client details (which cannot be forgotten) are re-used for any other access to this server, even using a different account login.
- andStatus does not provide 'state' parameter on Oauth authorization calls, which presents a security issue
- proving the authentication worked apparently requires implementation of Pleroma or Pump.io API.

This is when using the ActivityPub C2S API. I should not be expected in this mode to provide or support other additional APIs. If andStatus is unable to support the ActivityPub C2S service without assistance from these other APIs, the best possible outcome is that these other REQUIRED endpoints are documented so that people attempting to use the ActivityPub API with andStatus are informed as to what additional support is required. 

I will now re-open this issue. If you would like I can separate these into different issues. 

@redmatrix Thank you for showing us parts of current OAuth implementation in AndStatus that appear problematic for you. As you may expect, most of the OAuth parts were implemented not by fully implementing formal specifications, but looking at corresponding implementations of Server-side applications.
This is why despite the list of issues the implementation does work with Twitter, Pump.io, Mastodon and Pleroma implementations of OAuth. And *that* is the most important. And this is why no wonder that almost any part of the implementation may be associated with above concrete Social networks.

If we talk about OAuth implementation for ActivityPub C2S (client to Server) protocol, things are even more fuzzy, because there are almost no server-side implementations of ActivityPub C2S to test against. I mean Social networks with real Users and not experimental builds for developers. Discussion at #499 is a very valuable part of clarifying requirements and existing examples/specifications.

In order to make Authentication/Authorization implementation of AndStatus better, in order to allow its wider usage, we need to pick/group above issues and create "Github issues" for them in the form that describes, why something is wrong, including references to sources.  This is not for two of us only, this is for all other interested parties who may read these notes tomorrow and have different views on the discussed things and on better solutions.


@redmatrix wrote:
> client details (which cannot be forgotten) are re-used for any other access to this server, even using a different account login

Yes, Client registration at the same host is used for all accounts at this host. Any link to a source that tells that this is wrong, please.

Opinion of @aaronpk ( Aaron Parecki ) https://socialhub.activitypub.rocks/t/oauth-2-1-and-activitypub/948/3 on WebFinger usage:

> Interestingly, ActivityPub doesn’t actually need Webfinger, and in fact one of the principles of the W3C SocialCG (where ActivityPub was developed) was to take a “follow-your-nose” approach to spec design, which specifically avoids approaches like Webfinger with hardcoded URLs. Personally I’d love to see ActivityPub drop Webfinger in favor of discovery methods that don’t rely on hardcoded URLs, but that’s a different discussion.

> Client registration at a host is used for all accounts at this host in the same (instance of) social network. 

From the horse's mouth: [3.2.1 - Client Information Response](https://tools.ietf.org/html/rfc7591#section-3.2)

> client_id
>       REQUIRED.  OAuth 2.0 client identifier string.  It SHOULD NOT be
>       currently valid for any other registered client, though an
>       authorization server MAY issue the same client identifier to
>       multiple instances of a registered client at its discretion.
> 
>    client_secret
>       OPTIONAL.  OAuth 2.0 client secret string.  If issued, this MUST
>       be unique for each "client_id" and SHOULD be unique for multiple
>       instances of a client using the same "client_id".  This value is
>       used by confidential clients to authenticate to the token
>       endpoint, as described in OAuth 2.0 [RFC6749], Section 2.3.1.
> 
Servers MAY reuse a client_id...

Current assumptions about Server Response are therefore incorrect.  


> Current assumptions about Server Response are therefore incorrect.

I suspect that you missed context and my statement "Client registration at a host is used for all accounts at this host in the same (instance of) social network".
This statement is about a "single instance of a client" using terminology of RFC7591 that you are citing, so it perfectly fits into it. I.e. it is about AndStatus app installed on a single Android device.

@mediaformat Agree?

Hi @yvolk,
I suppose all questions related to ActivityPub C2S should be addressed here. And first of all thanks for your work on this project!

I'm implementing C2S for the general semantic ActivityPub server [CPub](https://github.com/openEngiadina/cpub/). Passing initial OAuth client registration flow I see that `POST /oauth/token` request is being missed the required `client_id` parameter according to [specification](https://tools.ietf.org/html/rfc6749#section-4.1.3). Could you please look at that in your spare time?

Thanks in advance!

Hi @rustra,
Thank you for noticing. 
( All servers worked with such an invalid request though  :-) )
I created separate ticket for that: #530.

@redmatrix I looked again at the list of problems that you wrote, and see this:

> andStatus does not provide 'state' parameter on Oauth authorization calls, which presents a security issue

I creates https://github.com/andstatus/andstatus/issues/531 ticket for this. Thanks for noticing.

Hi there, i want to play with AndStatus and my AP Server and fail while adding my server as new AP account . 

Now i've skimmed through some things here and see that there are still problems and unanswered questions with oauth2. But I don't understand the current status and have no idea how to proceed?

I did a quick search on the web and came across [oauth-2-for-native-and-mobile-apps](https://developer.okta.com/blog/2018/12/13/oauth-2-for-native-and-mobile-apps) that the "OAuth Flow" "Authorisation Code with PKCE" for AndStatus would probably be the right one. But I haven't read up on it yet. And what I'm still wondering is whether I'll be happy with AndStatus as a client app if I have AsObjects that are not oriented towards ActivityStreams.

@naturzukunft wrote:

> And what I'm still wondering is whether I'll be happy with AndStatus as a client app if I have AsObjects that are not oriented towards ActivityStreams.

I didn't get you here. Could you explain, please. If this is an issue worth separate discussion, let's create one!

> I didn't get you here. Could you explain, please. If this is an issue worth separate discussion, let's create one!
I mean, if I have activities with objects whose type is specified in schema.org, for example, or somewhere else.

Is there somewhere a documentation how AndStatus implements the "add account" and what the ActivityPub server have to provide therefore?

@naturzukunft This thread has links to all specifications and other discussions that describe this implementation. But I see that what you actually need is a way to see each step with all requests and responses, including headers...
I think that using AndStatus as a debug tool, maybe even following "Add account" scenario in debug mode in Android Studio will allow you to get what you need.
Please note that AndStatus allows to log not only internal events, but, in separate files, each (almost each...) request and response. Please read here on logging: https://github.com/andstatus/andstatus/issues/225
So you can record a sequence of requests-responses for any working server, and then investigate payloads...

If you would like to debug the flow of events and messages - start you debugging at the method: org.andstatus.app.account.AccountSettingsActivity#onAddAccountClick